* {
  font-family: Tahoma, Verdana, Geneva, sans-serif;
  padding: 0;
  margin: 0; }

.hidden {
  display: none !important; }

.invisible {
  visibility: hidden !important; }

header {
  position: fixed;
  width: 100%;
  background: grey;
  height: 1.5em; }

body {
  background-color: lightblue;
  color: #FFF;
  font-size: 18px; }

flexwork {
  display: flex; }

.direction--row {
  flex-direction: row; }

.direction--row-reverse {
  flex-direction: row-reverse; }

.direction--col {
  flex-direction: column; }

.direction--col {
  flex-direction: column-reverse; }

.wrap--nowrap {
  flex-wrap: nowrap; }

.wrap--wrap {
  flex-wrap: wrap; }

.wrap--reverse {
  flex-wrap: wrap-reverse; }

.justify-content--flex-start {
  justify-content: flex-start; }

.justify-content--flex-end {
  justify-content: flex-end; }

.justify-content--start {
  justify-content: start; }

.justify-content--safe {
  justify-content: safe; }

.justify-content--unsafe {
  justify-content: unsafe; }

.justify-content--center {
  justify-content: center; }

.justify-content--end {
  justify-content: end; }

.justify-content--space-between {
  justify-content: space-between; }

.justify-content--space-around {
  justify-content: space-around; }

.justify-content--space-evenly {
  justify-content: space-evenly; }

.justify-content--stretch {
  justify-content: stretch; }

.align-items--baseline {
  align-items: baseline; }

.align-items--first-baseline {
  align-items: first baseline; }

.align-items--last-baseline {
  align-items: last baseline; }

.align-items--safe {
  align-items: safe; }

.align-items--unsafe {
  align-items: unsafe; }

.align-items--center {
  align-items: center; }

.align-items--start {
  align-items: start; }

.align-items--end {
  align-items: end; }

.align-items--self-start {
  align-items: self-start; }

.align-items--self-end {
  align-items: self-end; }

.align-items--flex-start {
  align-items: flex-start; }

.align-items--flex-end {
  align-items: flex-end; }

.align-content--baseline {
  align-content: baseline; }

.align-content--first-baseline {
  align-content: first baseline; }

.align-content--last-baseline {
  align-content: last baseline; }

.align-content--space-between {
  align-content: space-between; }

.align-content--space-around {
  align-content: space-around; }

.align-content--space-evenly {
  align-content: space-evenly; }

.align-content--stretch {
  align-content: stretch; }

.align-content--safe {
  align-content: safe; }

.align-content--unsafe {
  align-content: unsafe; }

.align-content--center {
  align-content: center; }

.align-content--start {
  align-content: start; }

.align-content--end {
  align-content: end; }

.align-content--flex-start {
  align-content: flex-start; }

.align-content--flex-end {
  align-content: flex-end; }

.align-self--auto {
  align-self: auto; }

.align-self--flex-start {
  align-self: flex-start; }

.align-self--flex-end {
  align-self: flex-end; }

.align-self--center {
  align-self: center; }

.align-self--baseline {
  align-self: baseline; }

.align-self--stretch {
  align-self: stretch; }

*::before,
*::after {
  box-sizing: inherit; }

.grillwork {
  width: 100%;
  margin: 0 auto; }

.grillwork::before,
.grillwork::after,
.row::before,
.row::after {
  content: "";
  display: table; }

grillwork::after,
row::after {
  clear: both; }

[class*=col-] {
  float: left;
  min-height: 1px; }

/* generated grillwork column classes  */
@media screen and (max-width: 320px) {
  .col-sm-1 {
    min-width: 8.33333%; }
  .col-sm-2 {
    min-width: 16.66667%; }
  .col-sm-3 {
    min-width: 25%; }
  .col-sm-4 {
    min-width: 33.33333%; }
  .col-sm-6 {
    min-width: 50%; }
  .col-sm-8 {
    min-width: 66.66667%; }
  .col-sm-12 {
    min-width: 100%; } }

@media screen and (max-width: 640px) {
  .col-md-1 {
    min-width: 8.33333%; }
  .col-md-2 {
    min-width: 16.66667%; }
  .col-md-3 {
    min-width: 25%; }
  .col-md-4 {
    min-width: 33.33333%; }
  .col-md-6 {
    min-width: 50%; }
  .col-md-8 {
    min-width: 66.66667%; }
  .col-md-12 {
    min-width: 100%; } }

@media screen and (max-width: 1080px) {
  .col-lg-1 {
    min-width: 8.33333%; }
  .col-lg-2 {
    min-width: 16.66667%; }
  .col-lg-3 {
    min-width: 25%; }
  .col-lg-4 {
    min-width: 33.33333%; }
  .col-lg-6 {
    min-width: 50%; }
  .col-lg-8 {
    min-width: 66.66667%; }
  .col-lg-12 {
    min-width: 100%; } }

@media screen and (max-width: 99999px) {
  .col-xl-1 {
    min-width: 8.33333%; }
  .col-xl-2 {
    min-width: 16.66667%; }
  .col-xl-3 {
    min-width: 25%; }
  .col-xl-4 {
    min-width: 33.33333%; }
  .col-xl-6 {
    min-width: 50%; }
  .col-xl-8 {
    min-width: 66.66667%; }
  .col-xl-12 {
    min-width: 100%; } }
